mcd_recertification/src/main/mule/multi-threading-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="multi-threading-exampleFlow" doc:id="81bf580c-eae7-4d37-90e4-26032be26944" maxConcurrency="2">
		<http:listener doc:name="Listener" doc:id="df27094d-0476-4d09-a502-768399b77436" config-ref="HTTP_Listener_config" path="/multithreading"/>
		<set-payload value="#['multithreading flow']" doc:name="Set Payload" doc:id="55b0f2ae-acac-4792-a532-4d6449ae0b8b" />
		<logger level="INFO" doc:name="Logger" doc:id="404770df-85a2-4e9c-925e-c88c4578c9b7" message="#['multithreading flow']"/>
	</flow>
</mule>
