mcd_recertification/src/main/mule/raise-error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<flow name="raise-error-example-flow">
		<http:listener config-ref="HTTP_Listener_config"
			path="/raiseerror" doc:name="get/raiseerror"/>
		<choice>
			<when expression="#[message.attributes.queryParams != null and !isEmpty(message.attributes.queryParams.age) and message.attributes.queryParams.age &lt; 16]">
				<raise-error type="PRECONDITIONS:INCORRECT_AGE"
					description="Minimum age of 16 required to drive" />
			</when>
			<otherwise>
				<logger level="INFO"
					message="User age above 16 years. Allowed to drive" />
			</otherwise>
		</choice>
		<set-payload value="#['flow completed']" doc:name="Set Payload" doc:id="f63eea5e-856e-4fc3-912d-e64c9824c4fd" />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" type="PRECONDITIONS:INCORRECT_AGE">
				<set-payload value="#['Minimum age to drive is 16 years old from set payload']" doc:name="Set Payload" doc:id="7e0358d8-f455-41a0-aca0-78339a9aa0d3" />
				<logger level="INFO"
					message="Minimum age to drive is 16 years old" />
			</on-error-propagate>
			<on-error-continue enableNotifications="true"
				logException="true" type="MULE:EXPRESSION">
				<logger level="INFO"
					message="The parameter age is missing or invalid" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
